<style></style>
<section>
    <div class="card11">
        <div class="img-comp11"><img data-image src alt="comp11"></div>
        <div class="container-title11">
            <h3 data-title></h3>
            <p data-descripcion class=""></p>
        </div>
        <div class="container-stats11">
            <p class="profile_stats11">Type</p>
            <h5 class="profile_value11">Roca</h5>
        </div>
        <div class="container_stats11">
            <p class="profile_stats11">Size</p>
            <h5 class="profile_value11">2m</h5>
        </div>
        <div class="container_stats11">
            <p class="profile_stats11">Weight</p>
            <h5 class="profile_value11">4202 kg</h5>
        </div>
        <div class="container-button11">
            <a class="button11" data-button>Conoce mas</a></div>
    </div>
</section>