<style></style>
<section>
    <div class="profile profile-default">
        <div class="profile__image"><img data-image src='${this.myimagen}' alt="Doggo" /></div>
        <div class="profile__info">
            <h3 data-title></h3>
            <p class="profile__info__extra">Es un Pokémon de tipo roca/siniestro introducido en la segunda generación. Es la evolución de Pupitar, a partir de la sexta generación puede megaevolucionar en Mega-Tyranitar.</p>
        </div>
        <div class="profile__stats">
            <p class="profile__stats__title">Type</p>
            <h5 class="profile__stats__info">Roca</h5>
        </div>
        <div class="profile__stats">
            <p class="profile__stats__title">Size</p>
            <h5>2m</h5>
        </div>
        <div class="profile__stats">
            <p class="profile__stats__title">Weight</p>
            <h5 class="profile__stats__info">4202 kg</h5>
        </div>
        <div id="repeat"></div>

        <div class="profile__cta"><a class="button" data-button>Conoce más!</a></div>
    </div>
</section>