<style></style>
<section>
    <div class="card9">
        <div class="img-comp9"><img data-image src alt="comp3"></div>
        <div class="container-title9">
            <h3 data-title></h3>
            <p data-descripcion class=""></p>
        </div>
        <div class="container-stats9">
            <div class="stats9">
                <p>Type</p>
            </div>
        </div>
        <div class="container-stats9">
            <div class="value-stats9">
                <h5>Normal</h5>
            </div>
        </div>
        <div class="container-button9">
            <a class="button9" data-button>Conoce mas</a>

        </div>
    </div>
</section>