* {
    color: var(--secondary-color);
}

.card9 {
    width: 300px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    background-color: var(--tertiary-color);
}

.container-title9 h3 {
    color: black;
    font: 700 24px "Poppins", sans-serif;
    background-color: var(--tertiary-color);
    display: inline-block;
    text-align: center;
    margin: 20px 25px 0;
}

.container-title9 p {
    font-size: 16px;
    text-align: center;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.card9 .container-stats9 {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--tertiary-color);
    font-size: 18px;
    text-align: center;
    margin: 0 30px 10px;
}

.stats p {
    background-color: var(--tertiary-color);
    text-align: center;
    font: 500 16px "Poppins", sans-serif;
}

.value-stats9 h5 {
    color: var(--secondary-color);
    font: 18px "Poppins", sans-serif;
    text-align: center;
}

.container-button9 {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

a.button9 {
    outline: none;
    width: 87%;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    background: var(--main-color);
    color: white;
    position: relative;
    top: 0;
    transition: 0.2s ease;
    border-radius: 0 0 10px 10px;
}

.card9 .img-comp9 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid var(--main-color);
    object-fit: cover;
    margin-top: -40px;
}

.button {
    background: lightskyblue
}