<style></style>
<section>
    <div class="card12">
        <div class="img-comp12"><img data-image src alt="comp12"></div>
        <div class="container-title12">
            <h3 data-title></h3>
            <p data-descripcion class=""></p>
        </div>
        <div class="container-stats12">
            <p class="profile_stats12">Type</p>
            <h5 class="profile_value12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium porro ducimus nihil at eius in architecto reiciendis dolor quaerat fugiat impedit sit facere odit, repellat vitae eos provident suscipit. Laudantium.</h5>
        </div>
        <div class="container-stats12">
            <p class="profile_stats12">Size</p>
            <h5 class="profile_value12">1.2m</h5>
        </div>
        <div class="container-stats12">
            <p class="profile_stats12">Weight</p>
            <h5 class="profile_value12">54 kg</h5>
        </div>
        <div class="container-button12">
            <a class="button12" data-button>Conoce mas</a></div>
    </div>
</section>