<style></style>
<div class="card">
    <div class="img-comp1"><img data-image alt="comp1" /></div>
    <div class="container-title">
        <h3 data-title></h3>
        <p data-descripcion class=""></p>
    </div>
    <div class="container-stats">
        <p class="stats">Type</p>
        <h5 class="stats-info">Fuego</h5>
    </div>
    <div class="container-stats">
        <p class="stats">Size</p>
        <h5>1.9m</h5>
    </div>
    <div class="container-stats">
        <p class="stats">Weight</p>
        <h5 class="stats-info">155 kg</h5>
    </div>
    <div class="container-button">
        <a class="button" data-button></a>
    </div>
</div>
</section>