<style></style>
<input class="variation" id="bluepurple" type="radio" value="1" name="color" checked="checked" /><label
    for="bluepurple"></label><input class="variation" id="sunset" type="radio" value="2" name="color" /><label
    for="sunset"></label><input class="variation" id="godiva" type="radio" value="3" name="color" /><label
    for="godiva"></label><input class="variation" id="dark" type="radio" value="4" name="color" /><label
    for="dark"></label><input class="variation" id="pinkaru" type="radio" value="5" name="color" /><label
    for="pinkaru"></label>
  <main>
    <section>
      <div class="profile profile-imgonly">
        <div class="profile__image"><img data-image alt="Doggo" /></div>
        <div class="profile__info">
          <h3 data-title></h3>
          <p class="profile__info__extra">texto</p>
        </div>
        <div class="profile__stats">
          <p class="profile__stats__title">Type</p>
          <h5 class="profile__stats__info">Fuego</h5>
        </div>
        <div class="profile__stats">
          <p class="profile__stats__title">Size</p>
          <h5>1.9m</h5> </div> <div class="profile__stats">
              <p class="profile__stats__title">Weight</p>
              <h5 class="profile__stats__info">155 kg</h5>
        </div>
        <div class="profile__cta"><a class="button" data-button></a></div>
      </div>
    </section>
