  .card {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    display: grid;
    grid: 390px 0px / 100%;
  }

  .card:hover {
    grid: 334px 56px / 100%;
  }
  .container-title h3 {
  font: 700 24px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
  position: absolute;
  display: block;
  left: 10px;
  top: 29em;
  }
  .card .img-comp1,
  .card .container-stats {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .img-comp1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .card .img-comp1 {
    position: relative;
  }

  .card .img-comp1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  }

  .card .container-title {
    z-index: 5;
    grid-row: 1 / 2;
    align-self: end;
    margin: 10px 20px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  .card .container-title p {
    display: none;
  }

  .card .button a {
    border-radius: 0;
  }
  .stats{
    color: var(--grayColor);
    text-transform: uppercase;
    font-size: 16px;
  }
  a.button {
    outline: none;
    width: 88%;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px/1 "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    background: var(--main-color);
    color: white;
    position: relative;
    top: 0;
    transition: 0.2s ease;
  }
    a.button:hover, a.button.hover {
      top: -3px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

  