<style></style>
<select name="picker" id="picker">
  <option value='{"main":"#01A8F4","secondary":"#673AB6", "cuartiary":"black", "quintiary":"gray"}'>bluepurple</option>
  <option value='{"main":"#FE9556","secondary":"#FFCC67","tertiary":"white","cuartiary":"black", "quintiary":"gray"}'>sunset</option>
  <option value='{"main":"#A05693","secondary":"#A3D857", "cuartiary":"black", "quintiary":"gray"}'>godiva</option>
  <option value='{"main":"#367bc3","secondary":"#f1f2eb","tertiary":"#2a313b", "cuartiary":"#f1f2eb" }'>dark</option>
  <option value='{"main":"#F95794","secondary":"#C8CAE6","tertiary":"#2A313B", "cuartiary":"#C8CAE6"}'>pinkaru</option>
</select>