<style></style>
<select name="picker" id="picker">
  <option value="#673ab7">bluepurple</option>
  <option value="#03a9f4">blue-purple</option>
  <option value="#ff9557">sunset</option>
  <option value="#ffcc67">sun-set</option>
  <option value="#a05793">godiva</option>
  <option value="#a3d858">go-diva</option>
  <option value='{"main":"#367bc3","secondary":"#f1f2eb","tertiary":"#2a313b"}'>dark</option>
  <option value="#f95794">pinkaru</option>
  <option value="#323da5">pin-karu</option>
</select>