section:nth-child(2) {
    grid-column: 3 / 5;
}

.card13 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px auto 0px;
    border-radius: 10px;
    width: 650px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
}

.card13 .img-comp13 {
    grid-column: span 3;
}

.card13 .img-comp13 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card13 .container-title13 {
    grid-column: span 2;
    align-self: center;
    padding: 20px 10px 20px 25px;
}

.card13 .container-title13 p {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s ease, opacity .3s ease .3s, margin .3s ease;
}

.card13 .container-stats13 {
    display: none;
}

.card13 .container-button13 {
    padding: 20px 20px 20px 0;
    align-self: center;
}

.card13:hover .container-title13 p {
    display: block;
    max-height: 200px;
    margin: 10px 0 0;
    opacity: 1;
}

.container-title13 h3 {
    color: black;
    font: 700 24px "Poppins", sans-serif;
    background: white;
    text-align: center;
    margin-bottom: 0;
}

a.button13 {
    outline: none;
    width: 80%;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background: var(--main-color);
    color: white;
    position: relative;
    top: 0;
    transition: 0.2s ease;
}

@media only screen and (max-width: 600px) {
    .card13 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px auto 0px;
        border-radius: 10px;
        width: 340px;
        overflow: hidden;
        margin: auto;
    }
}