<style></style>
<section>
    <div class="card13">
        <div class="img-comp13"><img data-image src alt="comp13"></div>
        <div class="container-title13">
            <h3 data-title></h3>
            <p data-descripcion class=""></p>
        </div>
        <div class="container-stats13">
            <p class="profile_stats13">Type</p>
            <h5 class="profile_value13">Fantasma</h5>
        </div>
        <div class="container-stats13">
            <p class="profile_stats13">Size</p>
            <h5 class="profile_value13">1.5m</h5>
        </div>
        <div class="container-stats13">
            <p class="profile_stats13">Weight</p>
            <h5 class="profile_value13">40kg</h5>
        </div>
        <div class="container-button13">
            <a class="button13" data-button>Conoce mas</a></div>
    </div>
</section>