<style></style>
<section>
    <div class="profile profile-default">
        <div class="profile__image"><img data-image src='${this.myimagen}' alt="Doggo" /></div>
        <div class="profile__info">
            <h3 data-title></h3>
            <p class="profile__info__extra">Es un Pokémon legendario de tipo dragón/volador introducido en la tercera generación. Es la mascota de Pokémon Esmeralda. Forma parte del trío creador junto con Groudon y Kyogre. A partir de Pokémon Rubí Omega y Pokémon Zafiro Alfa puede megaevolucionar en Mega-Rayquaza.</p>
        </div>
        <div id="repeat"></div>

        <div class="profile__cta"><a class="button" data-button>Conoce más!</a></div>
    </div>
</section>