<style></style>
<section>
    <div class="profile profile-default">
        <div class="profile__image"><img data-image src></div>
        <div class="profile__info">
            <h3 data-title></h3>
            <p data-descripcion class="profile__info__extra"></p>
        </div>
        <div class="profile__stats">
				<p class="profile__stats__title">Type</p>
				<h5 class="profile__stats__info">Dragón</h5>
			</div>
			<div class="profile__stats">
				<p class="profile__stats__title">Size</p>
				<h5>7m</h5>
			</div>
			<div class="profile__stats">
				<p class="profile__stats__title">Weight</p>
				<h5 class="profile__stats__info">280 kg</h5>
			</div>
        <div class="profile__cta"><a class="button" data-button>Conoce más!</a></div>
    </div>
</section>