<style></style>
<!-- <h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div> -->
<section>
    <div class="card">
        <div class="img-comp2"><img data-image src alt="comp2"></div>
        <div class="container-title">
            <h3 data-title></h3>
            <p data-descripcion class=""></p>
        </div>
        <div class="container-stats">
            <div class="stats">
                <p>Type</p>
            </div>
            <div class="stats">
                <p>Size</p>
            </div>
            <div class="stats">
                <p>Weight</p>
            </div>
        </div>
        <div class="container-stats">
            <div class="value-stats">
                <h5>Dragon</h5>
            </div>
            <div class="value-stats">
                <h5>7m</h5>
            </div>
            <div class="value-stats">
                <h5>280 kg</h5>
            </div>
        </div>
        <div class="container-button">
            <a class="button" data-button>Conoce mas</a>

        </div>
    </div>
</section>
<!-- 
<div class="card">
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
</div> -->