<style></style>
<section>
    <div class="card10">
        <div class="img-comp10"><img data-image src alt="comp10"></div>
        <div class="container-title10">
            <h3 data-title></h3>
            <p data-descripcion class=""></p>
        </div>
        <div class="container-stats10">
            <div class="stats9">
                <p>Type</p>
                <h5>Agua Hielo</h5>
            </div>
        </div>
        <div class="container-stats10">
            <p>Type</p>
            <h5>2.5m</h5>
            <div class="value-stats10">

            </div>
            <div class="profile__stats">
                <p>Size</p>
                <h5>2.5m</h5>
            </div>
        </div>
        <div class="container-button10">
            <a class="button10" data-button>Conoce mas</a>

        </div>
    </div>
</section>